<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Garage</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/garage.css" />
        <!-- Important Owl stylesheet -->
        <link rel="stylesheet" href="/owl.carousel/owl-carousel/owl.carousel.css">
        <!-- Default Theme -->
        <link rel="stylesheet" href="/owl.carousel/owl-carousel/owl.theme.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/img/logo.png"/></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/garage">Garage</a></li>
                        <li><a href="/company-list">Companies</a></li>
                        <li><a href="/logout" class="btn btn-sm btn-danger">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>My Garage</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>2003 Jeep Wrangler</h3>
                    <ul class="list-inline lot-breakdown-list infoPoints">
                        <li>Engine : 6.7L /515HP</li>
                        <li>Trans : 5-Speed</li>
                        <li>Color : Army Green</li>
                        <li>Interior : Tan</li>
                    </ul>
                    <div class="car-carousel">
                        <div class="item">
                            <img class="img-responsive" src="/img/jeep1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/jeep2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/jeep3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/jeep4.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/jeep5.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/jeep6.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/jeep7.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/jeep8.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>1994 BMW 525i</h3>
                    <ul class="list-inline lot-breakdown-list infoPoints">
                        <li>Engine : 3.5L /645HP</li>
                        <li>Trans : 5-Speed</li>
                        <li>>Color : Racing Red</li>
                        <li>Interior : Full Race</li>
                    </ul>
                    <div class="car-carousel">
                        <div class="item">
                            <img class="img-responsive" src="/img/bmw1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/bmw2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/bmw3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/bmw4.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/bmw5.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/bmw6.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/bmw7.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/bmw8.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>1980 Porsche 911BR</h3>
                    <ul class="list-inline lot-breakdown-list infoPoints">
                    <li>Engine : 3.6/316 HP</li>
                        <li>Trans : 4-Speed</li>
                        <li>Color : Slate Grey</li>
                        <li>Interior : Black</li>
                    </ul>
                    <div class="car-carousel">
                        <div class="item">
                            <img class="img-responsive" src="/img/porsche1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/porsche2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/porsche3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/porsche4.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/porsche5.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/porsche6.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/porsche7.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/porsche8.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/owl.carousel/owl-carousel/owl.carousel.js"></script>
        <script>
            $(function() {
                $(".car-carousel").owlCarousel({
                    items : 1,
                    itemsDesktop: [1199,1],
                    itemsTablet:	[768,1],
                    itemsDesktopSmall : [979,1]
                });
            });
        </script>
    </body>
</html>