<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Built</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/img/logo.png"/></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="btn btn-primary btn-sm  " href="/login" role="button">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row intro-header">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img src="/img/logo-large.png" />
                        <h4>Build your garage and show off what you have built.</h4>
                        <hr class="intro-divider">
                        <h6>A way of showing who has the coolest car.<h6>
                    </div>
                </div>
            </div>
            <div class="row feature-row">
                <div class="col-sm-4 feature-column">
                    <h4 class="section-heading">Build</h4>
                    <div class="inner-column">
                        <img class="img-responsive" src="/img/bmw5.jpg" alt="" />
                        <h5>Extreme BMW E34</h5>
                        <p class="buildDescription">Output is somewhere around 819whp with 730ft-lbs on this setup, at a safe 1.5bar (22psi) boost.</p>
                        <br/>
                    </div>
                </div>
                <div class="col-sm-4 feature-column">
                    <h4 class="section-heading">Builder</h4>
                    <div class="inner-column">
                        <img class="img-responsive" src="/img/rwb2.jpg" alt="" />
                        <h5>Nakai-san</h5>
                        <p class="buildDescription">My philosophy is to make cars that not only look cool, but that you can drive – cars that don’t just sit on display.</p>
                        <br/>
                    </div>
                </div>
                <div class="col-sm-4 feature-column">
                    <h4 class="section-heading">Company</h4>
                    <div class="inner-column">
                        <img class="img-responsive" src="/img/rocket.jpg" alt="" />
                        <h5>TRA Kyoto</h5>
                        <p class="buildDescription">Style is a strange quality. Some people strive hard in an attempt to develop it, others just possess it without even trying. </p>
                        
                    </div>
                </div>
            </div>
            <div class="row banner">
                <div class="col-md-12">
                    <h2>Start your own build!</h2>
                    <ul class="list-inline banner-social-buttons">
                        <li><a class="btn btn-primary btn-lg" href="/login" role="button">Sign up now!</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
