body
{
    background-color: #85919C;
}

form {
    padding: 20px;
    background-color: white;
}

.alert {
    margin: 20px 0;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
}

#tabs {
    margin: 40px auto;
}

#tabs li a{
    color: #fff;
}

#tabs li.active a{
    color: #2c3e50;
}

.logButton{
  background-color: #2c3e50;
  border:none;
}

form h2
{
    margin: 10px 10px 20px;
    font-size: 18px;    
}
